html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**/
body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  background-color: #272727;
  padding: 10px; }

.font-lato {
  font-family: Lato, "Open Sans", "Source Sans Pro"; }

.font-monospace {
  font-family: monospace; }

.to-lowercase {
  text-transform: lowercase; }

.to-uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

p {
  line-height: 1.5; }

.declaration {
  color: #c967cc; }

.variable {
  color: #eb7c7c; }

.text {
  color: #9fdb88; }

.menu {
  width: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  -webkit-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menuButtons {
  left: 8px;
  position: absolute;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #000;
  background-color: #ff3b47;
  border-color: #9d252b; }

.minimize {
  left: 28px;
  background-color: #ffc100;
  border-color: #9d802c; }

.zoom {
  left: 48px;
  background-color: #00d742;
  border-color: #049931; }

.menuName-wrapper {
  max-width: 500px;
  margin: 3px auto;
  padding-left: 68px;
  text-align: center;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.menuName {
  white-space: nowrap;
  font-weight: 700; }

.screen {
  background-color: #151515;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
          border-bottom-right-radius: 5px; }

.paragraph {
  text-align: left;
  font-size: 1.25em;
  white-space: nowrap;
  overflow: hidden;
  width: 0; }

.screen {
  color: #fff; }

.line1 {
  -webkit-animation: type 0.5s 1s steps(20, end) forwards;
          animation: type 0.5s 1s steps(20, end) forwards; }

.cursor1 {
  -webkit-animation: blink 1s 1s 2 forwards;
          animation: blink 1s 1s 2 forwards; }

.line2 {
  -webkit-animation: type 0.5s 3.25s steps(20, end) forwards;
          animation: type 0.5s 3.25s steps(20, end) forwards; }

.cursor2 {
  -webkit-animation: blink 1s 4.25s 2 forwards;
          animation: blink 1s 4.25s 2 forwards; }

.line3 {
  -webkit-animation: type 0.5s 6.5s steps(20, end) forwards;
          animation: type 0.5s 6.5s steps(20, end) forwards; }

.cursor3 {
  -webkit-animation: blink 1s 7.5s 2 forwards;
          animation: blink 1s 7.5s 2 forwards; }

.line4 {
  -webkit-animation: type 0.5s 9.75s steps(20, end) forwards;
          animation: type 0.5s 9.75s steps(20, end) forwards; }

.cursor4 {
  -webkit-animation: blink 1s 10.5s 2 forwards;
          animation: blink 1s 10.5s 2 forwards; }

.line5 {
  -webkit-animation: type 0.5s 12.5s steps(20, end) forwards;
          animation: type 0.5s 12.5s steps(20, end) forwards; }

.cursor5 {
  -webkit-animation: blink 1s 10.5s infinite;
          animation: blink 1s 10.5s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes blink {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes type {
  to {
    width: 280px; } }

@keyframes type {
  to {
    width: 280px; } }

.windows {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.window-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 500px;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.window-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 500px;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

/*# sourceMappingURL=style.css.map */
