html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**/
body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  background-color: #272727;
  padding: 10px; }

.font-lato {
  font-family: Lato, "Open Sans", "Source Sans Pro"; }

.font-monospace {
  font-family: monospace; }

.to-lowercase {
  text-transform: lowercase; }

.to-uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

p {
  line-height: 1.5; }

.declaration {
  color: #c967cc; }

.variable {
  color: #eb7c7c; }

.text {
  color: #9fdb88; }

/*# sourceMappingURL=index.css.map */
