.menu {
  width: $window-width;
  box-sizing: border-box;
  height: 2.5*$button-size;
  background-color: #bbbbbb; // margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.menuButtons {
  left: 0.8*$button-size;
  position: absolute;
  height: $button-size;
  width: $button-size;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #ff3b47;
  border-color: #9d252b;
}

.minimize {
  left: 2.8*$button-size;
  background-color: #ffc100;
  border-color: #9d802c;
}

.zoom {
  left: 4.8*$button-size;
  background-color: #00d742;
  border-color: #049931;
}

.menuName-wrapper {
  max-width: $window-width;
  margin: 0.3*$button-size auto;
  padding-left: 6.8*$button-size;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuName {
  white-space: nowrap;
  font-weight: $font-weight-bold;
}

.screen {
  background-color: #151515;
  box-sizing: border-box;
  width: $window-width;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.paragraph {
  text-align: left;
  font-size: 1.25em;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.screen {
  color: #ffffff;
}

.line1 {
  animation: type 0.5s 1s steps(20, end) forwards;
}

.cursor1 {
  animation: blink 1s 1s 2 forwards;
}

.line2 {
  animation: type .5s 3.25s steps(20, end) forwards;
}

.cursor2 {
  animation: blink 1s 4.25s 2 forwards;
}

.line3 {
  animation: type .5s 6.5s steps(20, end) forwards;
}

.cursor3 {
  animation: blink 1s 7.5s 2 forwards;
}

.line4 {
  animation: type .5s 9.75s steps(20, end) forwards;
}

.cursor4 {
  animation: blink 1s 10.5s 2 forwards;
}

.line5 {
  animation: type .5s 12.5s steps(20, end) forwards;
}

.cursor5 {
  animation: blink 1s 10.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes type {
  to {
    width: 20*$font-size-base;
  }
}
