body {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  background-color: $dark-gray;
  padding: 10px;
}

.font-lato {
  font-family: Lato, "Open Sans", "Source Sans Pro";
}

.font-monospace {
  font-family: monospace;
}

// Transformation
.to-lowercase {
  text-transform: lowercase;
}

.to-uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

p {
  line-height: 1.5;
}

.declaration {
  color: #c967cc;
}

.variable {
  color: #eb7c7c;
}

.text {
  color: #9fdb88;
}
