$window-width: 500px;
$button-size: 10px;
//colors
$dark-gray: #272727;
//fonts
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
//base fonts
$font-size-base: 14px;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.15;
//shadow
$box-shadow: 0 15px 35px rgba(61, 82, 104, 0.12),
0 5px 15px rgba(22, 30, 39, 0.08);
