.windows {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

@mixin flex($width:$window-width) {
  flex: 0 1 $width;
  display: flex;
  flex-flow: column nowrap;
}

.window-1 {
  @include flex;
}

.window-2 {
  @include flex(500px);
}
